
body {

    text-align: center;
    background-color: #DCDCDC;
}

.header {

    color:black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 400%

}

.images {

    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    padding:1px;
    border:2px solid black;

    position: relative
    
}

.links {
    float: left;
    text-align: left;
    font-size: 125%;
    border-style: outset;
    background-color: #D3D3D3;
    width: 350px;
    position: absolute;
    top: 30%;
    left: 63%
    
    
}
.description {

    text-align: center;
    width: 525px;
    font-size: 125%;
    border-style: outset;
    background-color: #D3D3D3;
    position: absolute;
    top: 18%;
    right: 63%
    
   
}


@media (max-width: 480px) {

    .links {

        text-align: left;
        font-size: 125%;
        border-style: outset;
        background-color: #D3D3D3;
        width: 350px;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        margin-top: 25px
        
    }
    .description {
    
        text-align: center;
        width: 525px;
        font-size: 125%;
        border-style: outset;
        background-color: #D3D3D3;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        margin-top: 25px
    }





}





