
body {

    text-align: center;
    background-color: #DCDCDC;
}

.header {

    color:black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 400%

}

.images {

    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    padding:1px;
    border:2px solid black;
    
}

.description {

    float: left;
    margin-left: 9.75%;
    margin-top: -22.5%;
    text-align: center;
    width: 525px;
    font-size: 125%;
    border-style: outset;
    background-color: #D3D3D3
}

.links {

    float: right;
    margin-right: 19%;
    margin-top: -22%;
    text-align: left;
    font-size: 125%;
    border-style: outset;
    background-color: #D3D3D3;
    width: 350px
}

.hobbies {

    float: right;
    margin-right: 19%;
    margin-top: -11.5%;
    text-align: left;
    font-size: 125%;
    border-style: outset;
    background-color: #D3D3D3;
    width: 350px
    
}

